nav{
    height: 150px;
    justify-self: center;
    font-size: 2em;
    border: 5px solid #d100db;
    border-radius: 50px;
}
nav img{
    width: 100px;
    background: #2e2c37;
    border-radius: 50px;
    margin: 10px;
    border: 3px solid #d100db
}
nav a{
    margin: 20px 30px;
    text-decoration: none;
    color: #c5c1de;
}
#wrapper{
    background: #2e2c37;
    width: 800px;
    height: 875px;
    justify-self: center;
    border: 5px solid #c5c1de;
}
main img{
    border: 3px solid #18dbb4;
    margin: 30px 250px;
    justify-self: center;
}
#text{
    border: 5px solid #d100db;
    color: #c5c1de;
    margin: 0px 50px;
    border-radius: 10px;
    padding: 10px;
}
button{
    margin: 10px 375px;
}
#text a{
    text-decoration: none;
    color: white
}



/* Below is CSS for Weekly Challenge Page */

#challenge-page{
    color: #c5c1de;
}

.challenge-description{
    text-align: center;
    margin: 20px;
}

#challenge-title{
    font-size: 3em;
    margin: 10px;
}

#challenge-subtitle{
    font-size: 1.25em;
}

#inspo-gallery-title{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.inspiration{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    
}

.challenge-image{
    margin: 10px;
    padding: 0;
    width: 250px;
    height: 190px;
    border: 5px solid #18dbb4;
    border-radius: 10px;
}